<center>
	<h2 class="bookedheader">Your allotment status</h2>
	REGNO: <%= reg_no %><br>
	NAME: <%= name %><br>
	ROOMNO: <%= room %> <br>
	BLOCK: <%= block %> <br>
	FLOOR: <%= floor %> <br>
	HOSTEL: <%= hostel_name %> <br>
	MESS: <%= mess %> <br>
</center>