<div class="container">
  <div class="row">


  <div class="panel panel-success">
  	<div class="panel-heading">
  		<h2 class="bookedheader">Allotment Done</h2>
  	</div>

  	<div class="panel-body" style="text-align: justify;">
      <p><strong>Registration Number:</strong> <%= reg_no %></p>
      <p><strong>Name:</strong> <%= name %></p>
      <p><strong>Room Number:</strong> <%= room %></p>
      <p><strong>Block:</strong> <%= block %></p>
      <p><strong>Floor:</strong> <%= floor %></p>
      <p><strong>Hostel:</strong> <%= hostel_name %></p>
      <p><strong>Mess:</strong> <%= mess %></p>

  	</div>

  </div>

</div>
</div>
