<div class="">
  <h1>New studentData</h1>

  <div class="body">
    <form class="" action="/studentData/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">userid</label>
          <input type="number" name="userid" value="<%= element.userid %>" required="false">
        </div>
        <div class="">
          <label for="">name</label>
          <input type="text" name="name" value="<%= element.name %>" required="false">
        </div>
        <div class="">
          <label for="">roll_number</label>
          <input type="text" name="roll_number" value="<%= element.roll_number %>" required="false">
        </div>
        <div class="">
          <label for="">registration_number</label>
          <input type="text" name="registration_number" value="<%= element.registration_number %>" required="false">
        </div>
        <div class="">
          <label for="">current_section</label>
          <input type="text" name="current_section" value="<%= element.current_section %>" required="false">
        </div>
        <div class="">
          <label for="">current_year</label>
          <input type="text" name="current_year" value="<%= element.current_year %>" required="false">
        </div>
        <div class="">
          <label for="">joining_year</label>
          <input type="text" name="joining_year" value="<%= element.joining_year %>" required="false">
        </div>
        <div class="">
          <label for="">course</label>
          <input type="text" name="course" value="<%= element.course %>" required="false">
        </div>
        <div class="">
          <label for="">branch</label>
          <input type="text" name="branch" value="<%= element.branch %>" required="false">
        </div>
        <div class="">
          <label for="">gender</label>
          <input type="" name="gender" value="<%= element.gender %>" required="false">
        </div>
        <div class="">
          <label for="">birthday</label>
          <input type="date" name="birthday" value="<%= element.birthday %>" required="false">
        </div>
        <div class="">
          <label for="">country</label>
          <input type="text" name="country" value="<%= element.country %>" required="false">
        </div>
        <div class="">
          <label for="">mobile</label>
          <input type="text" name="mobile" value="<%= element.mobile %>" required="false">
        </div>
        <div class="">
          <label for="">emergency_contact</label>
          <input type="text" name="emergency_contact" value="<%= element.emergency_contact %>" required="false">
        </div>
        <div class="">
          <label for="">sbh_account</label>
          <input type="text" name="sbh_account" value="<%= element.sbh_account %>" required="false">
        </div>
        <div class="">
          <label for="">passport</label>
          <input type="text" name="passport" value="<%= element.passport %>" required="false">
        </div>
        <div class="">
          <label for="">hostel_room</label>
          <input type="text" name="hostel_room" value="<%= element.hostel_room %>" required="false">
        </div>
        <div class="">
          <label for="">hostel</label>
          <input type="text" name="hostel" value="<%= element.hostel %>" required="false">
        </div>
        <div class="">
          <label for="">mess</label>
          <input type="text" name="mess" value="<%= element.mess %>" required="false">
        </div>
        <div class="">
          <label for="">created_location</label>
          <input type="text" name="created_location" value="<%= element.created_location %>" required="false">
        </div>
        <div class="">
          <label for="">created_time</label>
          <input type="text" name="created_time" value="<%= element.created_time %>" required="false">
        </div>
        <div class="">
          <label for="">guardian1</label>
          <input type="text" name="guardian1" value="<%= element.guardian1 %>" required="false">
        </div>
        <div class="">
          <label for="">relationship1</label>
          <input type="text" name="relationship1" value="<%= element.relationship1 %>" required="false">
        </div>
        <div class="">
          <label for="">email1</label>
          <input type="text" name="email1" value="<%= element.email1 %>" required="false">
        </div>
        <div class="">
          <label for="">mobile1</label>
          <input type="text" name="mobile1" value="<%= element.mobile1 %>" required="false">
        </div>
        <div class="">
          <label for="">guardian2</label>
          <input type="text" name="guardian2" value="<%= element.guardian2 %>" required="false">
        </div>
        <div class="">
          <label for="">relationship2</label>
          <input type="text" name="relationship2" value="<%= element.relationship2 %>" required="false">
        </div>
        <div class="">
          <label for="">email2</label>
          <input type="text" name="email2" value="<%= element.email2 %>" required="false">
        </div>
        <div class="">
          <label for="">mobile2</label>
          <input type="text" name="mobile2" value="<%= element.mobile2 %>" required="false">
        </div>
        <div class="">
          <label for="">homenumber</label>
          <input type="text" name="homenumber" value="<%= element.homenumber %>" required="false">
        </div>
        <div class="">
          <label for="">address</label>
          <input type="text" name="address" value="<%= element.address %>" required="false">
        </div>
        <div class="">
          <label for="">bloodgroup</label>
          <input type="text" name="bloodgroup" value="<%= element.bloodgroup %>" required="false">
        </div>
        <div class="">
          <label for="">adhaar</label>
          <input type="text" name="adhaar" value="<%= element.adhaar %>" required="false">
        </div>
        <div class="">
          <label for="">linkedin</label>
          <input type="text" name="linkedin" value="<%= element.linkedin %>" required="false">
        </div>
        <div class="">
          <label for="">mac</label>
          <input type="text" name="mac" value="<%= element.mac %>" required="false">
        </div>
      <button type="submit">Update studentData</button>
    </form>
    <br />
    <a href="/studentData">Index</a>
  </div>
</div>