<h1>Show studentData</h1>

	<p>
		<strong>userid:</strong>
		<%= element.userid %>
	</p>
	<p>
		<strong>name:</strong>
		<%= element.name %>
	</p>
	<p>
		<strong>roll_number:</strong>
		<%= element.roll_number %>
	</p>
	<p>
		<strong>registration_number:</strong>
		<%= element.registration_number %>
	</p>
	<p>
		<strong>current_section:</strong>
		<%= element.current_section %>
	</p>
	<p>
		<strong>current_year:</strong>
		<%= element.current_year %>
	</p>
	<p>
		<strong>joining_year:</strong>
		<%= element.joining_year %>
	</p>
	<p>
		<strong>course:</strong>
		<%= element.course %>
	</p>
	<p>
		<strong>branch:</strong>
		<%= element.branch %>
	</p>
	<p>
		<strong>gender:</strong>
		<%= element.gender %>
	</p>
	<p>
		<strong>birthday:</strong>
		<%= element.birthday %>
	</p>
	<p>
		<strong>country:</strong>
		<%= element.country %>
	</p>
	<p>
		<strong>mobile:</strong>
		<%= element.mobile %>
	</p>
	<p>
		<strong>emergency_contact:</strong>
		<%= element.emergency_contact %>
	</p>
	<p>
		<strong>sbh_account:</strong>
		<%= element.sbh_account %>
	</p>
	<p>
		<strong>passport:</strong>
		<%= element.passport %>
	</p>
	<p>
		<strong>hostel_room:</strong>
		<%= element.hostel_room %>
	</p>
	<p>
		<strong>hostel:</strong>
		<%= element.hostel %>
	</p>
	<p>
		<strong>mess:</strong>
		<%= element.mess %>
	</p>
	<p>
		<strong>created_location:</strong>
		<%= element.created_location %>
	</p>
	<p>
		<strong>created_time:</strong>
		<%= element.created_time %>
	</p>
	<p>
		<strong>guardian1:</strong>
		<%= element.guardian1 %>
	</p>
	<p>
		<strong>relationship1:</strong>
		<%= element.relationship1 %>
	</p>
	<p>
		<strong>email1:</strong>
		<%= element.email1 %>
	</p>
	<p>
		<strong>mobile1:</strong>
		<%= element.mobile1 %>
	</p>
	<p>
		<strong>guardian2:</strong>
		<%= element.guardian2 %>
	</p>
	<p>
		<strong>relationship2:</strong>
		<%= element.relationship2 %>
	</p>
	<p>
		<strong>email2:</strong>
		<%= element.email2 %>
	</p>
	<p>
		<strong>mobile2:</strong>
		<%= element.mobile2 %>
	</p>
	<p>
		<strong>homenumber:</strong>
		<%= element.homenumber %>
	</p>
	<p>
		<strong>address:</strong>
		<%= element.address %>
	</p>
	<p>
		<strong>bloodgroup:</strong>
		<%= element.bloodgroup %>
	</p>
	<p>
		<strong>adhaar:</strong>
		<%= element.adhaar %>
	</p>
	<p>
		<strong>linkedin:</strong>
		<%= element.linkedin %>
	</p>
	<p>
		<strong>mac:</strong>
		<%= element.mac %>
	</p>

<br>
<a href="/studentData/edit/<%= element.id %>">Edit</a>
<a href="/studentData/create">New</a>
<a href="/studentData">Back</a>
